<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="fr.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="/css/open-iconic/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="_content/TinyMCE.Blazor/tinymce-blazor.js"></script>
    <script src="https://cdn.tiny.cloud/1/8ciaww5oouufkal45688rzdtca188tbbeeuqjugq6v2ef0rk/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="/bootstrap-js/bootstrap.js"></script>
    
</body>

</html>
