body {
    
}

a{
    color:black;
    text-decoration:none;
    font-weight:bold;
}

    a:hover {
        color: deepskyblue;
    }

.orderBlock{
    background-color:white;
}
    .orderBlock:hover {
        background-color: #B9DFEB;
    }
