@inherits LayoutComponentBase

<div class="page">
    <nav class="col-12 float-none">
        <MainMenu />
    </nav>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
